In [ ]:
# Data Structures In Python
# A data structure is a way of organizing and storing data so it can be used efficiently.

# Why We Need Them
# They organize data in a structured way.
# They help store data efficiently.
# They make it easy to access and use data.
# They allow data to be managed easily, such as adding, removing, or searching

In [ ]:
# LIST TUPLE SET DICTIONARY

# LIST
# LIST IS A COLLECTION OF DATA VALUES
# LIST IS DENOTED BY USING [] list()
# LIST IS MUTABLE IN NATURE [add / delete / modify / update]
# LIST ALLOWS US TO HAVE DUPLICATE ELEMENTS
# IN LIST WE CAN STORE MIXED DATA TYPE

list1 = ([1,2,3,4,5,6,7,8,9])
print(type(list1))

list2 = (['a','b','c'])
print(type(list2))

list3 = []
print(type(list3))

<class 'list'>
<class 'list'>
<class 'list'>

In [ ]:
# LIST IS A COLLECTION OF DATA VALUES   --> Sequence + Iterable
list1 = [10,20,30,40,50,60,70]
print(list1)

# Indexing And Slicing
# 10 20 30 40 50 60 70
# 0  1  2  3  4  5  6
# -7 -6 -5 -4 -3 -2 -1

print(list1[0])
print(list1[1:5])
print(list1[1:5:2])
print(list1[::-1])
print(list1[-1])
print(list1[-5:-2])

[10, 20, 30, 40, 50, 60, 70]
10
[20, 30, 40, 50]
[20, 40]
[70, 60, 50, 40, 30, 20, 10]
70
[30, 40, 50]

In [ ]:
list1=([10,20,30,40,50,60,70,80,90])
for i in list1:
    print(i)

    print (len(list1))

10
9
20
9
30
9
40
9
50
9
60
9
70
9
80
9
90
9

In [ ]:
for i in range(len(list1)):                # range(6)  0 1 2 3 4 5    i --> 0
  print(f'Index {i} : {list1[i]}')         # Index 0 : list1[0]  10

Index 0 : 10
Index 1 : 20
Index 2 : 30
Index 3 : 40
Index 4 : 50
Index 5 : 60
Index 6 : 70
Index 7 : 80
Index 8 : 90

In [ ]:
#enumerate()
# it's a built-in function which print Elements Of A Sequence Along With Their Index Numbers

for i,v in enumerate(list1):
    print(f'Index {i} : {v}')

Index 0 : 10
Index 1 : 20
Index 2 : 30
Index 3 : 40
Index 4 : 50
Index 5 : 60
Index 6 : 70
Index 7 : 80
Index 8 : 90

In [ ]:
for i,v in enumerate(list1):
  print(f'index {i} : {v} ')

index 0 : 10
index 1 : 20
index 2 : 30
index 3 : 40
index 4 : 50
index 5 : 60
index 6 : 70
index 7 : 80
index 8 : 90

In [ ]:
# LIst is mutable
stinfo = [101, "john",68.10,True,True,True]
print(stinfo)
stinfo[2] = 21.10
print(stinfo)

[101, 'john', 68.1, True, True, True]
[101, 'john', 21.1, True, True, True]

In [ ]:
# List Built-In Functions

list1 = [10,20,30,40,50,60,70,80,90,100]
print(list1)

# list1 = list(range(10,110,10)) # more professional
# print(list1)

# a.) aappend(value)
#it is used to add new value to the list

list1.append(110)
print('after append :',list1)

# b.) insert (indexNuber,Value)
#it is used to add new data value at a spesific position in the List

list1.insert(2,200)
print('After Insert:',list1)

# c.) pop(indexnumber)
# used to delete an element from the provided indexnumber
list1.pop(1)
print('after pop:',list1)

 # d.) pop()
# if not provided the index number --> used to delete the Last element from Lis
list1.pop()
print('After Pop',list1)

# list = [10,20,30,40,10,10,50,60]
# list.remove(10)
# it will delete the first occurence of the specified value
# list = [20,30,40,10,10,50,60]
# delete all occurences of 10

list1.remove(10)
print("after remove",list1)

# Remove all occurence of 10
# if you Loop Over the original list and delete all the occurence of the specified value
# Python can skip some items or behave unexpectedely

# new_list --> in this list add only those elements which is != 10



list1 = [10,20,30,40,10,10,50,60] # this will be a mistake done by phython
for i in list1:
  if i == 10:
    list1.remove(i)
print(list1)

list1 = [10,20,30,40,10,10,50,60]
new_list = []
for i in list1:       # i --> 10
  if i == 10:         # 10 == 10 (t)
    continue
  else:
    new_list.append(i)  # new_list = [20,30,40]
print(new_list)

# e.) Remove all occurence of 10 using while loop

list1 = [10,20,30,40,10,10,50,60]
while 10 in list1:
   list1.remove(10)
print(list1)

# f.) reverse()
# used to print the list in a reverse order
print('after reverse:',list1[::-1])
list1.reverse()
print('after reverse:',list1)

#g.) clear()
# used to remove all the elements from the list
list1.clear()
print('after clear',list1)

#del list1
#del is keyword so no need to put a dot
del list1

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
after append : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]
After Insert: [10, 20, 200, 30, 40, 50, 60, 70, 80, 90, 100, 110]
after pop: [10, 200, 30, 40, 50, 60, 70, 80, 90, 100, 110]
After Pop [10, 200, 30, 40, 50, 60, 70, 80, 90, 100]
after remove [200, 30, 40, 50, 60, 70, 80, 90, 100]
[20, 30, 40, 10, 50, 60]
[20, 30, 40, 50, 60]
[20, 30, 40, 50, 60]
after reverse: [60, 50, 40, 30, 20]
after reverse: [60, 50, 40, 30, 20]
after clear []

In [ ]:
# h.) sort()
# h.) sort()
list1 = [50,30,10,60,90,70,20,80,40]
list1.sort(reverse= True)
print(list1)

[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [ ]:
# list tuple data structure
# TUPLE
# TUPLE IS A COLLECTION OF DATA VALUES
# TUPLE IS DENOTED BY USING () tuple()
# TUPLE IS IMMUTABLE IN NATURE
# TUPLE ALLOWS US TO HAVE DUPLICATE ELEMENTS
# IN TUPLE WE CAN STORE MIXED DATA TYPE

# Create A Tuple

tup1 =(10,20,30,40)
print(type(tup1))

tup2 = tuple((10,20,30,40))
print(type(tup2))

tup3 = tuple()
print(type(tup3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
myvar = 1, 2, 43, True, 20
print(type(myvar))

<class 'tuple'>

In [ ]:
myvar = 1, #turn the single element into a tuple # adding a comma will create this
print(type(myvar))

#  bad example ; myvar = tuple(1) # cannot happen
#  bad example ; myvar = tuple([1]) #it will become tuple, but it will not answer the question because elment to tuple, list to tuple

<class 'tuple'>

In [ ]:
# tuple is immutable

tup1 = (10,20,30,40,50)
print(tup1)
tup1[2]=300
print(tup1)

(10, 20, 30, 40, 50)

TypeError: 'tuple' object does not support item assignment

In [ ]:
tupl1 = (10,20,30,40,50,10,20,10,10,30,40,70,80,60)
print(tupl1)
#len()
# count(value)
# it will the occurence of the specified value
# index(value)
# it will let you know the index number of the specified value

print(len(tupl1))
print(tupl1.count(10))
print(tupl1.index(70))

In [ ]:
# Task --> List
# save the marks in a List
# print those marks

# stmarks = []  append()

savemarks = []
howManyStudents = int(input('How Many Students Marks You Wish To Insert'))

i = 1
while i<=howManyStudents:
  print(f'Enter Marks {i}')
  marks = int(input())
  savemarks.append(marks)
  i += 1

print(f'student marks {savemarks}')

In [ ]:
# SET
# SET IS AN UNORDERED COLLECTION OF DATA VALUES
# SET IS DENOTED BY USING {} set()
# SET DOES NOT ALLOWS US TO HAVE DUPLICATE ELEMENTS

# Create a SET

set1 = {10,20,30,40,50}
print(type(set1))
print(set1)

set2 = set((10,20,30,40,50))
print(type(set2))
print(set2)

# Empty Set
set3 = set() #set cannot use blank curly braces
print(type(set3))

In [ ]:
# WAP to print the number of unique elements in a List
list1 = [10,20,30,40,50,10,30,50,60]
print('No. Of Unique Elements :',len(set(list1))) #it is shorter than the below on

In [ ]:
list1 = [10,20,30,40,50,10,30,50,60]
empty_list = []
for i in list1:                    # i --> 60
  if i not in empty_list:          # if 60 does not exist in empty_list (t)
    empty_list.append(i)           # empty_list = [10,20,30,40,50,60]
print('No. Of Unique Elements :',len(empty_list))
print(empty_list)

In [ ]:
# is there any way using which we can convert set from unordered to ordered
# An OrderedSet is a mutable data structure that is a hybrid of a list and a set.
# It remembers the order of its entries, and every entry has an index number that can be looked up.

# pip --> python installer package
# helps you to install Python Libraries

!pip install ordered-set

In [ ]:
from ordered_set import OrderedSet

# WITHOUT OrderedSet

str1 = "abracadabra"
print(set(str1))

# WITH OrderedSet
str1 = "abracadabra"
print(OrderedSet(str1))

In [ ]:

from ordered_set import OrderedSet

str1 = "abracadabra" #without OrderedSet
print(set(str1))

# With OrderedSet
str1 = "abracadabra"
print(OrderedSet(str1))
print(str1[0])

In [ ]:
str1 ='qweqwweqeqweqwweqweqewqweqweqeqwe' # train
print(set(str1))
print(OrderedSet(str1))

In [ ]:
# Dictionary
# Dictionary is used to store collection of data values in a form of KEY:VALUE pair
# Dictionary is denoted by using {}  dict()
# Dictionary is mutable in nature
# In Dictionary -->  keys has to be unique , but values can be duplicated

emp_info = {"id":101,"name":"John","dept":"It","age":32,"sal":"6700","email":"gmail.com","city":"klang"}

print(type(emp_info))
print(emp_info['name'])
print(emp_info['age'])
print(emp_info['city'])
print(emp_info['sal'])

#get()
print(emp_info.get('sal')) #get is a function

In [ ]:
emp_data = {"id":[101,102,103] , "name":["John","Alex","Smith"],
            "sal":[2300,4500,6700]}
print(emp_data)
print(emp_data["name"])
print(emp_data["name"][1])
print(emp_data['name'][0] , emp_data['sal'][0], emp_data['id'][0])

In [ ]:
# In Dictionary -->  keys has to be unique , but values can be duplicated

stinfo = {'id':101,'name':'John','id':123}
print(stinfo)

{'id': 123, 'name': 'John'}

In [ ]:
stinfo = {'id':[101,102,'name:[john,john]']}
print(stinfo)

{'id': [101, 102, 'name:[john,john]']}

In [ ]:
emp_info = {"id":101,"name":"John","dept":"It","age":32,"sal":"6700","email":"gmail.com","city":"klang"}

#add a new key: value pair
# it will inserted at the end

emp_info['country']='malaysia'
print(emp_info)

{'id': 101, 'name': 'John', 'dept': 'It', 'age': 32, 'sal': '6700', 'email': 'gmail.com', 'city': 'klang', 'country': 'malaysia'}

In [ ]:
#delete a new key value pair
#pop('keyname')

emp_info.pop('country')
print(emp_info)

{'id': 101, 'name': 'John', 'dept': 'It', 'age': 32, 'sal': '6700', 'email': 'gmail.com', 'city': 'klang'}

In [ ]:
# updating value in dictionary

emp_info['id'] = 123
print(emp_info)

In [ ]:
# updatinf key in dictionary
# will return the value at the end

emp_info['empid'] = emp_info.pop('id')
print(emp_info)

{'name': 'John', 'dept': 'It', 'age': 32, 'sal': '6700', 'email': 'gmail.com', 'city': 'klang', 'empid': 101}

In [ ]:
# for loop in dictionary
# normal for loop will print keys ONLY

emp_info = {"id":101,"name":"John","dept":"It","age":32,"sal":"6700","email":"gmail.com","city":"klang"}

for i in emp_info:
  print(i)

id
name
dept
age
sal
email
city

In [ ]:

emp_info = {"id":101,"name":"John","dept":"It","age":32,"sal":"6700","email":"gmail.com","city":"klang"}

for i in emp_info.values():
  print(i)

101
John
It
32
6700
gmail.com
klang

In [ ]:
#print key and value together items()
for k,v in emp_info.items():
  print(f'key {k} : value {v}')

key id : value 101
key name : value John
key dept : value It
key age : value 32
key sal : value 6700
key email : value gmail.com
key city : value klang

In [ ]:
# NESTED LIST COMPREHENSION

numbers = [1,2,3,4,5,6,7,8,9,10]
# create a new list showing square of these numbers

new_list= numbers = [i*i for i in numbers]
print(new_list)

new_list = []
for i in numbers:
  new_list.append(i*i)
print(new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#create a new list that is all even number
sqre = []
for i in numbers:
  if i%2==0:
    sqre.append(i*i)
    print(sqre)

[4]
[4, 16]
[4, 16, 36]
[4, 16, 36, 64]
[4, 16, 36, 64, 100]

In [ ]:
# USING NESTED LIST COMPREHENSION
# NESTED LIST COMPREHENSION  : A SHORT WAY OF CREATING A NEW LIST
# SYNTAX  :   listname = [outputVariable expression condition]

numbers = [1,2,3,4,5,6,7,8,9,10]

new_list = [i*i for i in numbers]
print(new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
numbers = [1,2,3,4,5,6,7,8,9,10]

mul2 = [i*i for i in numbers if i%2==0]
print(mul2)

[4, 16, 36, 64, 100]